*,
*:before,
*:after {
  box-sizing: inherit;
}


html{
	height: 100%;
	background-color: white;
	box-sizing: border-box;
	font-face: Georgia, serif;
}
body{
    background-color: #d9d9d9;
	background-image: url('skatelister.jpg');
}

.red{
	color: red;
}

/* SkateLister Logo Letters */
nav {
	height: auto;
	box-sizing: border-box;
}

.logo {
	font-family: 'Cabin', sans-serif;
	background-color: white;
	height: 75px;
	width: 100%;
	border-bottom: 1px solid black;
}
#websiteName {
	font-size: 4em;
	height: auto;
	width: 25%;
	float: right;
	font-weight: 700;
}

.nav {
	background-color: #984b45;
    
}

#mainNavigation > li {
	font-size: 2em;
	list-style-type: none;
	display: inline-block;
	padding-right: 30px;
	padding-top: 15px;
}

li.navbar_lists.modal_navbar {
	clear: right;
	float: right;
}

/* Front Page Content CSS */



/* SideBar CSS */

.sidebar {
	box-sizing: border-box;
	margin-top: 25px;
	background-color: #fbce00;
	opacity: 0.65;
	height: 350px;
	border-radius: 1%;
	color: white;
}


/* Mission Statement */

.missionStatement {
	box-sizing: border-box;
	margin-top: 25px;
	height: 350px;
	background-color: #fbce00;
	opacity: 0.7;
	border-radius: 1%;
}

.missionStatement > p {
	font-size: 2em;
	color: black;
}


#brandNewTitle {
	color: black;
	font-size: 3em;
	text-align: center;
	background-color: #f19f4d;
	opacity: 0.9;
	height: 250px;
	margin-bottom: 50px;
}

.individualPictureHome {
	height: auto;
}
.individualPictureHome > a > img{
	width: 50%;
}
.newestSingle {
	height: 300px;
	width: 300px;
}

#imageTitle {
	text-align: center;
}

.indexPicture {
	margin: 0 auto;
}

/* Ad Create Form */

.adCreateForm {
	width: 50%;
	margin: auto auto;
}


/*  Footer
		   CSS	*/

footer {
	text-align: center;
	width: 100%;
	height: auto;
	display: block;
	background-color: #e0e4cc;
	bottom: 0;
	right: 0;
	left: 0;
	position: relative;
}

.ourInfoDiv {
	padding-top: 30px;
	padding-bottom: 30px;
}

.cjFooter {
	border-right: 3px solid black;
	font-family: 'Muli', sans-serif;
	font-size: 1em;
	width: 40%;
	display: inline-block;
	margin: 0 auto;
}


.tomasFooter {
	font-family: 'Muli', sans-serif;
	font-size: 1em;
	display: inline-block;
	width: 40%;
	margin: 0 auto;
}

.cjFooter > a > img {
	height: 50px;
	width: 50px;
}

.tomasFooter > a > img {
	height: 50px;
	width: 50px;
}

#githubsocial {
	height: 42px;
	width: 42px;
}

/* Hover Image Invert States */
.hoverInvert:hover {
	-webkit-filter: invert(100%);
}


/* Address Div */
.address {
	font-family: 'Muli', sans-serif;
}

.middleFooter {
	height: 40px;
	width: auto;
}
.address {
	background-color: #e0e4cc;
	border-top: 3px solid black;
	font-size: 1.5em;
	padding-top: 45px;
	padding-bottom: 45px;
}



#sitename {
	padding-right: 25px;
}
#codeupname {
	text-decoration: none;
}
#codeupname:link {
	color: black;
}
#codeupnumber {
	padding-left: 25px;
}

.extra-cushion {
	margin-bottom: 20px;
}

.tomasSize{
    font-size: 2.5rem;
}
