html{
	background-color: white;
	font-face: Georgia, serif;
}
body{
    background-color: #d9d9d9;
}

/* SkateLister Logo Letters */
nav {
	height: auto;
	box-sizing: border-box;
}

.logo {
	font-family: 'Cabin', sans-serif;
	background-color: white;
	height: 75px;
	width: 100%;
	border-bottom: 1px solid black;
}
#websiteName {
	font-size: 4em;
	height: auto;
	width: 25%;
	float: right;
	font-weight: 700;
}

.nav {
	background-color: #4484ce;
	opacity: 0.7;
}


#mainNavigation > li {
	font-size: 2em;
	list-style-type: none;
	display: inline-block;
	padding-right: 30px;
	padding-top: 15px;
}


/* Front Page Content CSS */



/* SideBar CSS */

.sidebar {
	box-sizing: border-box;
	margin-top: 25px;
	background-color: #fbce00;
	opacity: 0.4;
	height: 600px;
	border-radius: 1%;
	color: white;
}


/* Mission Statement */

.missionStatement {
	box-sizing: border-box;
	margin-top: 25px;
	height: 600px;
	background-color: #fbce00;
	opacity: 0.4;
	border: 1px solid black;
	border-radius: 1%;
}

.missionStatement > p {
	font-size: 2em;
	color: black;
}


#brandNewTitle {
	color: white;
	font-size: 3em;	
	text-align: center;
	background-color: #f19f4d;
	opacity: 0.9;
	height: 250px;
	margin-bottom: 50px;
}

.newestSingle {
	height: 300px;
	width: 300px;
}

#imageTitle {
	text-align: center;
}

.indexPicture {
	margin: 0 auto;
}

/*  Footer  
		   CSS	*/

footer {
	text-align: center;
	width: 100%;
	height: auto;
	display: block;
	background-color: #e9c87b;
	bottom: 0;
	position: relative;
}

.ourInfoDiv {
	padding-top: 30px;
	padding-bottom: 30px;
}

.cjFooter {
	border-right: 3px solid black;
	font-family: 'Muli', sans-serif;
	font-size: 1em;
	width: 40%;
	display: inline-block;
	margin: 0 auto;
}


.tomasFooter {
	font-family: 'Muli', sans-serif;
	font-size: 1em;
	display: inline-block;
	width: 40%;
	margin: 0 auto;
}

.cjFooter > a > img {
	height: 50px;
	width: 50px;
}

.tomasFooter > a > img {
	height: 50px;
	width: 50px;
}

#githubsocial {
	height: 42px;
	width: 42px;
}

/* Hover Image Invert States */
.hoverInvert:hover {
	-webkit-filter: invert(100%);
}


/* Address Div */
.address {
	font-family: 'Muli', sans-serif;
}

.middleFooter {
	height: 40px;
	width: auto;
}
.address {
	background-color: #dbc185;
	border-top: 3px solid black;
	font-size: 1.5em;
	padding-top: 45px;
	padding-bottom: 45px;
}



#sitename {
	padding-right: 25px;
}
#codeupname {
	text-decoration: none;
}
#codeupname:link {
	color: black;
}
#codeupnumber {
	padding-left: 25px;
}

.extra-cushion {
	margin-bottom: 20px;
}